nodeRED/e-Sante.json
[{"id":"78625b8aaae969d6","type":"tab","label":"TROFEL","disabled":false,"info":"","env":[]},{"id":"9a24738c6f321623","type":"mqtt-broker","name":"MQTT-BROKER","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"2bf6f58dcfc9ebdd","type":"ui_tab","name":"e-Santé","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b4d41ec49ab52bef","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f66ad37af9282bd0","type":"ui_group","name":"Statistiques","tab":"2bf6f58dcfc9ebdd","order":8,"disp":true,"width":"7","collapse":false,"className":"<i class=\"fa fa-bar-chart\" aria-hidden=\"true\"></i>  "},{"id":"dbf58b902e41d267","type":"ui_group","name":"Santé","tab":"2bf6f58dcfc9ebdd","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"f41bf2664da836ac","type":"ui_group","name":"Graphique","tab":"2bf6f58dcfc9ebdd","order":2,"disp":true,"width":10,"collapse":false,"className":""},{"id":"27c896fa1ae8402a","type":"ui_group","name":"Info","tab":"2bf6f58dcfc9ebdd","order":4,"disp":false,"width":7,"collapse":false,"className":""},{"id":"d5dea448d011b452","type":"ui_group","name":".","tab":"2bf6f58dcfc9ebdd","order":6,"disp":true,"width":6,"collapse":false,"className":""},{"id":"9b39b084af451d21","type":"ui_group","name":"..","tab":"2bf6f58dcfc9ebdd","order":7,"disp":true,"width":6,"collapse":false,"className":""},{"id":"e56146165e53d085","type":"ui_group","name":"Information","tab":"2bf6f58dcfc9ebdd","order":1,"disp":true,"width":7,"collapse":false,"className":""},{"id":"cc31764abb6d1454","type":"ui_spacer","z":"78625b8aaae969d6","name":"spacer","group":"e56146165e53d085","order":2,"width":1,"height":1},{"id":"7be39db4131b0e52","type":"ui_spacer","z":"78625b8aaae969d6","name":"spacer","group":"dbf58b902e41d267","order":2,"width":1,"height":1},{"id":"ec1ed21ca35a40f9","type":"ui_spacer","z":"78625b8aaae969d6","name":"spacer","group":"dbf58b902e41d267","order":4,"width":1,"height":1},{"id":"df5eaf3340c641d2","type":"ui_spacer","z":"78625b8aaae969d6","name":"spacer","group":"dbf58b902e41d267","order":5,"width":1,"height":1},{"id":"5576a10a0cc98d77","type":"ui_spacer","z":"78625b8aaae969d6","name":"spacer","group":"dbf58b902e41d267","order":6,"width":1,"height":1},{"id":"8221a01fc5352e77","type":"ui_spacer","z":"78625b8aaae969d6","name":"spacer","group":"dbf58b902e41d267","order":7,"width":1,"height":1},{"id":"0b6e16ee62a13316","type":"comment","z":"78625b8aaae969d6","name":"Publisher","info":"","x":100,"y":300,"wires":[]},{"id":"7bd6eb6e92c5a201","type":"comment","z":"78625b8aaae969d6","name":"Subscriber","info":"","x":100,"y":180,"wires":[]},{"id":"69119ad63efcb630","type":"mqtt in","z":"78625b8aaae969d6","name":"","topic":"topic/hello","qos":"2","datatype":"auto-detect","broker":"9a24738c6f321623","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":220,"wires":[["a8e01144aca8e4ed"]]},{"id":"a8e01144aca8e4ed","type":"debug","z":"78625b8aaae969d6","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":220,"wires":[]},{"id":"a90beb8aa59328ba","type":"comment","z":"78625b8aaae969d6","name":"Charts","info":"","x":90,"y":440,"wires":[]},{"id":"2e24c0663143134c","type":"comment","z":"78625b8aaae969d6","name":"Images","info":"","x":90,"y":640,"wires":[]},{"id":"65563e53e746ed40","type":"ui_media","z":"78625b8aaae969d6","group":"dbf58b902e41d267","name":"man1","width":5,"height":4,"order":3,"category":"HumanPic","file":"man1.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":410,"y":120,"wires":[[]]},{"id":"c40a32cd31745ce6","type":"inject","z":"78625b8aaae969d6","name":"Email","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"HW!","payload":"Hello World [node-red]!","payloadType":"str","x":490,"y":220,"wires":[["69685a6ebcc73e76"]]},{"id":"69685a6ebcc73e76","type":"e-mail","z":"78625b8aaae969d6","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"trofelnuno@gmail.com","dname":"","output":false,"outputs":0,"x":700,"y":220,"wires":[]},{"id":"11e32da35becd931","type":"comment","z":"78625b8aaae969d6","name":"Stats","info":"","x":90,"y":700,"wires":[]},{"id":"1518b4bf10d116dd","type":"mqtt in","z":"78625b8aaae969d6","name":"Stat ","topic":"health/vitals/stats","qos":"2","datatype":"auto-detect","broker":"9a24738c6f321623","nl":false,"rap":true,"rh":0,"inputs":0,"x":370,"y":700,"wires":[["6ccd0e0619ae2b96"]]},{"id":"7150a494b3b929ce","type":"debug","z":"78625b8aaae969d6","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":700,"wires":[]},{"id":"6ccd0e0619ae2b96","type":"ui_table","z":"78625b8aaae969d6","group":"f66ad37af9282bd0","name":"Stats","order":2,"width":7,"height":3,"columns":[{"field":"name","title":"Moyenne","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"hier","title":"Hier","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"today","title":"Aujourd&#39;hui","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":550,"y":700,"wires":[["7150a494b3b929ce"]]},{"id":"ec58bc35fd908310","type":"ui_text","z":"78625b8aaae969d6","group":"f66ad37af9282bd0","order":1,"width":7,"height":1,"name":"Statistique","label":"<i class=\"fa fa-bar-chart\" aria-hidden=\"true\"> - phrase</i>","format":"{{msg.topic}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":230,"y":700,"wires":[]},{"id":"6514e024c2623f42","type":"ui_text","z":"78625b8aaae969d6","group":"dbf58b902e41d267","order":1,"width":5,"height":1,"name":"Santé","label":"<i class=\"fa fa-info\" aria-hidden=\"true\"> - état de santé globale</i> ","format":"{{msg.topic}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":210,"y":640,"wires":[]},{"id":"8a45885759d16f8a","type":"ui_gauge","z":"78625b8aaae969d6","name":"Température","group":"d5dea448d011b452","order":1,"width":6,"height":3,"gtype":"gage","title":"<i class=\"fa fa-thermometer-full\" aria-hidden=\"true\"> - Température</i>","label":"°C","format":"{{msg.payload.temperature}}","min":"32","max":"42.5","colors":["#02aad4","#00e80f","#ca3838"],"seg1":"35.6","seg2":"39.5","diff":false,"className":"","x":310,"y":440,"wires":[]},{"id":"0e250330340a4768","type":"ui_gauge","z":"78625b8aaae969d6","name":"Saturation Oxygène","group":"9b39b084af451d21","order":1,"width":6,"height":3,"gtype":"donut","title":"<i class=\"fa fa-tint\" aria-hidden=\"true\"> - Saturation Oxygène</i>","label":"%","format":"{{msg.payload.pression}}","min":"0","max":"100","colors":["#de3838","#00e60f","#00e60f"],"seg1":"89","seg2":"99.9","diff":false,"className":"","x":340,"y":560,"wires":[]},{"id":"8218ad65678fcc1d","type":"mqtt in","z":"78625b8aaae969d6","name":"","topic":"health/vitals","qos":"2","datatype":"auto-detect","broker":"9a24738c6f321623","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":500,"wires":[["8a45885759d16f8a","0e250330340a4768","2da0f2564fec89c2"]]},{"id":"246683b8656e6076","type":"comment","z":"78625b8aaae969d6","name":"Patient","info":"","x":90,"y":40,"wires":[]},{"id":"5de7e433bb24cdfa","type":"mqtt in","z":"78625b8aaae969d6","name":"patient","topic":"health/vitals/user","qos":"2","datatype":"auto-detect","broker":"9a24738c6f321623","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":80,"wires":[["44dbf6dc4fc1e13d","1398d253895f717e","0afb1839c6a88c3e","18fbd46d1f7c7631","a6c129c5acec6438","e0ac579df5edd315"]]},{"id":"1daa39ba01e3f76a","type":"ui_dropdown","z":"78625b8aaae969d6","name":"patient","label":"<i class=\"fa fa-user\" aria-hidden=\"true\"> - patient</i>","tooltip":"","place":"Select option","group":"e56146165e53d085","order":1,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Lefort","value":1,"type":"num"},{"label":"Yaya","value":2,"type":"num"},{"label":"Khoulia","value":3,"type":"num"},{"label":"Benaboud","value":4,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":230,"y":300,"wires":[["c7ef944f39acf0ed","81385f159b417b70"]]},{"id":"1398d253895f717e","type":"debug","z":"78625b8aaae969d6","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":260,"y":40,"wires":[]},{"id":"44dbf6dc4fc1e13d","type":"ui_text","z":"78625b8aaae969d6","group":"e56146165e53d085","order":1,"width":0,"height":0,"name":"nom","label":"Nom: ","format":"{{msg.payload.nom}} {{msg.payload.prenom}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":250,"y":80,"wires":[]},{"id":"0afb1839c6a88c3e","type":"ui_text","z":"78625b8aaae969d6","group":"e56146165e53d085","order":2,"width":0,"height":0,"name":"birth","label":"Détails: ","format":"{{msg.payload.date_naiss}}| {{msg.payload.sexe}}| {{msg.payload.adress}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":390,"y":80,"wires":[]},{"id":"18fbd46d1f7c7631","type":"ui_text","z":"78625b8aaae969d6","group":"e56146165e53d085","order":3,"width":0,"height":0,"name":"email","label":"Email: ","format":"{{msg.payload.email}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":530,"y":80,"wires":[]},{"id":"a6c129c5acec6438","type":"ui_text","z":"78625b8aaae969d6","group":"e56146165e53d085","order":4,"width":0,"height":0,"name":"appareil","label":"Appareil: ","format":"{{msg.payload.libelle}}; {{msg.payload.spec}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":680,"y":80,"wires":[]},{"id":"c7ef944f39acf0ed","type":"mqtt out","z":"78625b8aaae969d6","name":"user:id","topic":"health/vitals/user/request","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9a24738c6f321623","x":390,"y":300,"wires":[]},{"id":"81385f159b417b70","type":"debug","z":"78625b8aaae969d6","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":360,"wires":[]},{"id":"e0ac579df5edd315","type":"function","z":"78625b8aaae969d6","name":"function 1","func":"if (msg.payload.sexe === \"Masculin\") {\n    msg.payload = {\n        src: \"HumanPic/man2.jpg\",  \n        alt: \"Image pour un homme\"\n    };\n} else if (msg.payload.sexe === \"Féminin\") {\n    msg.payload = {\n        src: \"HumanPic/man3.jpg\",  \n        alt: \"Image pour une femme\"\n    };\n} else { \n    msg.payload = {\n        src: \"HumanPic/man1.jpg\",\n        alt: \"Image par défaut\"\n    };\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":120,"wires":[["a7e61f560fd39fec","65563e53e746ed40"]]},{"id":"a7e61f560fd39fec","type":"debug","z":"78625b8aaae969d6","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":120,"wires":[]},{"id":"2da0f2564fec89c2","type":"function","z":"78625b8aaae969d6","name":"HeartRate","func":"msg.payload = msg.payload.heart_rate;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":500,"wires":[["cb58a321b6ea3596"]]},{"id":"cb58a321b6ea3596","type":"ui_chart","z":"78625b8aaae969d6","name":"bpm","group":"f41bf2664da836ac","order":1,"width":0,"height":0,"label":"<i class=\"fa fa-heartbeat\" aria-hidden=\"true\"> - Fréquence cardiaque</i>","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"130","removeOlder":"61","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00e60f","#00e60f","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":530,"y":500,"wires":[[]]}]