nodeRED/model-training.json
[{"id":"78625b8aaae969d6","type":"tab","label":"TROFEL","disabled":false,"info":"","env":[]},{"id":"9a24738c6f321623","type":"mqtt-broker","name":"MQTT-BROKER","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"2bf6f58dcfc9ebdd","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4eedd604330e5b90","type":"ui_group","name":"Table","tab":"2bf6f58dcfc9ebdd","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"08f2cb482448bcda","type":"ui_spacer","z":"78625b8aaae969d6","name":"spacer","group":"4eedd604330e5b90","order":2,"width":8,"height":1},{"id":"b4d41ec49ab52bef","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bc380b4b.e2d668","type":"inject","z":"78625b8aaae969d6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[{\"name\":\"LEFORT\",\"age\":24,\"spec\":\"en bonne santé\"},{\"name\":\"YAYA\",\"age\":23,\"spec\":\"en bonne santé\"},{\"name\":\"BENABOUD\",\"age\":37,\"spec\":\"en bonne santé\"}]","payloadType":"json","x":110,"y":120,"wires":[["2460c057.cfbc4","041ac87ed64dcf85","f125f1d9fa504b3b"]]},{"id":"2460c057.cfbc4","type":"ui_table","z":"78625b8aaae969d6","group":"4eedd604330e5b90","name":"Table","order":1,"width":8,"height":2,"columns":[{"field":"name","title":"Nom","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":310,"y":120,"wires":[]},{"id":"0b6e16ee62a13316","type":"comment","z":"78625b8aaae969d6","name":"Publisher","info":"","x":100,"y":220,"wires":[]},{"id":"7bd6eb6e92c5a201","type":"comment","z":"78625b8aaae969d6","name":"Subscriber","info":"","x":100,"y":360,"wires":[]},{"id":"0c6a5440bcac180e","type":"inject","z":"78625b8aaae969d6","name":"Publier","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello world [node-red]","payloadType":"str","x":130,"y":420,"wires":[["e430fafd9a6e3d26"]]},{"id":"69119ad63efcb630","type":"mqtt in","z":"78625b8aaae969d6","name":"","topic":"topic/hello","qos":"2","datatype":"auto-detect","broker":"9a24738c6f321623","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":280,"wires":[["a8e01144aca8e4ed"]]},{"id":"e430fafd9a6e3d26","type":"mqtt out","z":"78625b8aaae969d6","name":"","topic":"topic/hello","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9a24738c6f321623","x":360,"y":420,"wires":[]},{"id":"a8e01144aca8e4ed","type":"debug","z":"78625b8aaae969d6","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":280,"wires":[]},{"id":"a90beb8aa59328ba","type":"comment","z":"78625b8aaae969d6","name":"UI-Table","info":"","x":100,"y":40,"wires":[]},{"id":"041ac87ed64dcf85","type":"ui_table","z":"78625b8aaae969d6","group":"4eedd604330e5b90","name":"Stats","order":3,"width":8,"height":"4","columns":[{"field":"name","title":"Moyenne","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"age","title":"Hier","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"spec","title":"Aujourd&#39;hui","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":310,"y":180,"wires":[["9f9d9c402ba92354"]]},{"id":"9f9d9c402ba92354","type":"debug","z":"78625b8aaae969d6","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":180,"wires":[]},{"id":"2e24c0663143134c","type":"comment","z":"78625b8aaae969d6","name":"Images","info":"","x":90,"y":500,"wires":[]},{"id":"f125f1d9fa504b3b","type":"ui_text","z":"78625b8aaae969d6","group":"4eedd604330e5b90","order":3,"width":0,"height":0,"name":"Temperature","label":"<font size = 6>Temperature <i class=\"fa fa-thermometer-full\" aria-hidden=\"true\"></i>","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":390,"y":60,"wires":[]},{"id":"65563e53e746ed40","type":"ui_media","z":"78625b8aaae969d6","group":"4eedd604330e5b90","name":"","width":0,"height":0,"order":4,"category":"HumanPic","file":"man1.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":190,"y":540,"wires":[[]]},{"id":"c40a32cd31745ce6","type":"inject","z":"78625b8aaae969d6","name":"Email","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"HW!","payload":"Hello World [node-red]!","payloadType":"str","x":490,"y":280,"wires":[["69685a6ebcc73e76"]]},{"id":"69685a6ebcc73e76","type":"e-mail","z":"78625b8aaae969d6","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"trofelnuno@gmail.com","dname":"","output":false,"outputs":0,"x":720,"y":280,"wires":[]}]